{{define "links"}}
<!DOCTYPE html>
<html>
    <head>
        <link href="../public/static/fonts/AntipastoPro" rel="stylesheet" />
        <link href="../public/static/fonts/Helvetica" rel="stylesheet" />
        <link href="../public/static/css/main.css" rel="stylesheet" />
        <title>Полезные ресурсы</title>
    </head>
    <body>
        <div class="page">
            <div class="linkspic"></div>
            <div class="header">
              <div class="headerrectangle"></div>
              <div class="headerlogo"></div>
              <a class="mainlink" href="/">Главная</a>
              <a class="courseslink" href="/courses">Курсы</a>
              <a class="usefulslink" href="/links">Полезные ресурсы</a>
              <a class="aboutlink" href="/about">О сайте</a>
              <a class="resourcelink" href="/tabs">Ноты/табы</a>
              <a class="mainloginbutton" href="/logout">
                  <div class="lbrct"></div>
                  <a class="lbtxt" href="/logout">Выйти</a>
              </a>
            </div>
            <span class="linkstitle">Полезные ресурсы для музыкантов</span>
            <span class="linksdescr">Каждый музыкант за время своей деятельности находит сотни, а то и тысячи всевозможных ресурсов, призванных облегчить его деятельность, либо сократить время, затраченное на поиск и выполнение рутинных действий. Однако большинство из них теряется, после чего приходится заново тратить время на поиски необходимых инструментов. Данная подборка призвана облегчить деятельность музыкантов и музыкальных продюсеров – здесь вы найдете все необходимое для качественной работы над вашими музыкальными треками, продюсированием, записью или сведением.</span>
            <pre class="linkscontent">

<a href="http://tuxguitar.com.ar/download.html" target="_blank">Tux Guitar</a> - крайне полезное приложения для просмотра и редактирования файлов формата GuitarPro (*.gtp, *.gp5)

<a href="https://www.avid.com/sibelius" target="_blank">Sibelius</a> - редактор нотных партитур. Этой программой пользуются композиторы, аранжировщики, исполнители, 
музыкальные издатели, преподаватели и студенты для создания музыкальных партитур и инструментальных партий.

<a href="https://www.youtube.com/c/%D0%9D%D0%B5%D1%81%D0%BA%D1%83%D1%87%D0%BD%D1%8B%D0%B9%D0%A1%D0%B0%D1%83%D0%BD%D0%B4" target="_blank">Нескучный Саунд</a> - полезный YouTube-канал, автор которого простым языком объясняет теорию музыки
</pre>
</div>
<div class="pageend" style="top: 2500px;">
    <div class="perct"></div>
    <div class="pelogo"></div>
    <span class="pesign">© Фа.Соль, 2022</span>
    <a class="pegh" href="https://github.com/RamuchiRam/fasole-alpha" target="_blank">Мы на GitHub</a>
    <a class="peabout" href="/about">О нас</a>
</div>
</body>
</html>
{{end}}
